*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
}

body {
  background-color: #333333;
  font-family: arial;
}

card {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  max-height: 150px;
  min-height: 150px;
  width: 100px;
  height: 150px;
  max-width: 100px;
  min-width: 100px;
  padding: 3.226%;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 5px;
  box-shadow: 4px 2px 11px 2px #232323;
  font-size: 80%;
}

card.rotate{
  transform: rotate(-90deg);
}

.card-corner .card-number{
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
}

.card-corner .card-symbol{
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  height: 6.25%;
}

.card-center .card-symbol{
  background-size: 100%;
  background-repeat: no-repeat;
}

.card-suite-heart   .card-symbol { background-image: url(img/heart.svg); }
.card-suite-club    .card-symbol { background-image: url(img/club.svg); }
.card-suite-diamond .card-symbol { background-image: url(img/diamond.svg); }
.card-suite-spade   .card-symbol { background-image: url(img/spade.svg); }

.card-suite-heart   .card-number,
.card-suite-diamond .card-number {
  color: red;
}

.card-suite-club  .card-number,
.card-suite-spade .card-number {
  color: black;
}

card .card-mirror {
  transform: rotate(180deg);
}

.card-corner {
  position: absolute;
  width: 13%;
  height: 100%;
}

.card-corner-tl {
  left: 3.226%;
  top: 3.226%;
}

.card-corner-br {
  right: 3.226%;
  bottom: 3.226%;
}

.card-number {
  text-align: center;
}

.card-center {
  position: absolute;
  top: 3.226%;
  left: 16.226%;
  height: calc( 100% - 2 * 3.226% );
  width: calc( 100% - 32.452% );
}

.card-main-symbol {
  position: absolute;
  padding: 3% 0.5%;
  height: calc( 25% - 6% );
  width: calc( 33% );
}

.c-p1 { left: 0; top: 0; }
.c-p2 { right: 0; top: 0; }
.c-p3 { left: 33%; top: 12.5%; }
.c-p31 { left: 33%; top: 26.5%; }
.c-p4 { left: 0; top: 25%; }
.c-p5 { right: 0; top: 25%; }
.c-p6 { left: 0; top: 37.5%; }
.c-p7 { left: 33%; top: 37.5%; }
.c-p8 { right: 0; top: 37.5%; }
.c-p9 { left: 0; bottom: 25%; }
.c-p10 { left: 33%; bottom: 12.5%; }
.c-p11 { right: 0; bottom: 25%; }
.c-p12 { left: 0; bottom: 0; }
.c-p13 { right: 0; bottom: 0; }
.c-p14 { display: flex; align-items: center; left: 33%; top: 37.5%; text-align: center; display: none; }

/* ass */
card[data-value="1"] .card-main-symbol { display: none; }
card[data-value="1"] .c-p7 { display: block; }

/* 2 */
card[data-value="2"] .card-main-symbol { display: none; }
card[data-value="2"] .c-p3, card[data-value="2"] .c-p10 { display: block; }

/* 3 */
card[data-value="3"] .card-main-symbol { display: none; }
card[data-value="3"] .c-p3, card[data-value="3"] .c-p7,
card[data-value="3"] .c-p10 { display: block; }

/* 4 */
card[data-value="4"] .card-main-symbol { display: none; }
card[data-value="4"] .c-p1, card[data-value="4"] .c-p2,
card[data-value="4"] .c-p12, card[data-value="4"] .c-p13 { display: block; }

/* 5 */
card[data-value="5"] .card-main-symbol { display: none; }
card[data-value="5"] .c-p1, card[data-value="5"] .c-p2,
card[data-value="5"] .c-p7, card[data-value="5"] .c-p12,
card[data-value="5"] .c-p13 { display: block; }

/* 6 */
card[data-value="6"] .card-main-symbol { display: none; }
card[data-value="6"] .c-p1, card[data-value="6"] .c-p2,
card[data-value="6"] .c-p6, card[data-value="6"] .c-p8,
card[data-value="6"] .c-p12, card[data-value="6"] .c-p13 { display: block; }

/* 7 */
card[data-value="7"] .card-main-symbol { display: none; }
card[data-value="7"] .c-p1, card[data-value="7"] .c-p2,
card[data-value="7"] .c-p31, card[data-value="7"] .c-p6,
card[data-value="7"] .c-p8, card[data-value="7"] .c-p12,
card[data-value="7"] .c-p13 { display: block; }

/* 8 */
card[data-value="8"] .c-p3, card[data-value="8"] .c-p31,
card[data-value="8"] .c-p6, card[data-value="8"] .c-p7, card[data-value="8"] .c-p8,
card[data-value="8"] .c-p10 { display: none; }

/* 9 */
card[data-value="9"] .c-p3, card[data-value="9"] .c-p31,
card[data-value="9"] .c-p6, card[data-value="9"] .c-p8,
card[data-value="9"] .c-p10 { display: none; }

/* 10 */
card[data-value="10"] .c-p31, card[data-value="10"] .c-p7,
card[data-value="10"] .c-p6, card[data-value="10"] .c-p8 { display: none; }

/* 11 /  */
card[data-value="11"] .card-main-symbol { display: none; }
card[data-value="11"] .c-p3, card[data-value="11"] .c-p6,
card[data-value="11"] .c-p8, card[data-value="11"] .c-p10  { display: block; }

/* 12 /  */
card[data-value="12"] .card-main-symbol { display: none; }
card[data-value="12"] .c-p3, card[data-value="12"] .c-p6,
card[data-value="12"] .c-p8, card[data-value="12"] .c-p10  { display: block; }

/* 13 /  */
card[data-value="13"] .card-main-symbol { display: none; }
card[data-value="13"] .c-p3, card[data-value="13"] .c-p6,
card[data-value="13"] .c-p8, card[data-value="13"] .c-p10  { display: block; }

/* board */
.board {
  display: flex;
  justify-content: center;
  background-color: #0a8a2a;
}

.playerarea ,.dealerarea{
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: orange;
  margin-top: 20px;
}

.splitplayerarea {
  display: flex;
  justify-content: center;
}

.splitplayerarea .playerarea {
  margin-left: 25px;
  margin-right: 25px;
}

.counter{
  display: flex;
  justify-content: center;
  background: white;
  padding: 5px 6px;
  border-radius: 3px;
  border: 1px solid #000000;
  margin: 20px auto 10px auto;
}

.playercards {
  display: flex;
  justify-content: center;
  background-color: red;
}

card:not(:last-child) {
  margin-right: 20px;
}

card {
  margin-top: 10px;
  margin-bottom: 10px;
}

.betoption {
  display: flex;
  justify-content: center;
  flex-flow: column;
  background-color: yellow;
  width: 50vw;
  max-width: 400px;
  min-width: 200px;
  margin: auto;
}

.chips {
  display: flex;
  justify-content: space-between;
  background-color: blue;
}

.chips-field {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lime;
  width: calc( 100% - 35px );
  margin-right: 5px;
}

.chips-btns {
  width: 20px;
  padding: 5px;
  background-color: gray;
}

.add-chips-btn, .minus-chips-btn {
  border: 1px solid #000000;
  border-radius: 100%;
  box-shadow: 3px 4px 5px #333333;
  width: 20px;
  height: 20px;
  text-align: center;
  font-size: 13px;
  line-height: 20px;
  cursor: pointer;
}

.add-chips-btn {
  margin-bottom: 5px;
  background-color: darkgreen;
}

.minus-chips-btn {
  background-color: darkred;
}

.buttons {
  display: flex;
  position: relative;
  justify-content: space-around;
}

.btn {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  width: 25%;
  min-width: 100px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: 2px solid #333333;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  box-shadow: inset 0px 1px 2px 0px #000000;
}

.btn:active {
  background-color: #3e8e41;
  box-shadow: inset 0px 2px 5px 1px #000000;
  /*transform: translateY(4px);*/
}

.split-btn {
  position: absolute;
  top: -30px;
  left: -160px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f4841c+0,ec7c0c+50,da7808+51,b5780d+100 */
  background: #f4841c; /* Old browsers */
  background: -moz-linear-gradient(top,  #f4841c 0%, #ec7c0c 50%, #da7808 51%, #b5780d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f4841c 0%,#ec7c0c 50%,#da7808 51%,#b5780d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f4841c 0%,#ec7c0c 50%,#da7808 51%,#b5780d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4841c', endColorstr='#b5780d',GradientType=0 ); /* IE6-9 */
}

.stand-btn {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f41c27+0,ec0c14+50,da0808+51,b51d0d+100 */
  background: #f41c27; /* Old browsers */
  background: -moz-linear-gradient(top,  #f41c27 0%, #ec0c14 50%, #da0808 51%, #b51d0d 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #f41c27 0%,#ec0c14 50%,#da0808 51%,#b51d0d 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #f41c27 0%,#ec0c14 50%,#da0808 51%,#b51d0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f41c27', endColorstr='#b51d0d',GradientType=0 ); /* IE6-9 */

}

.hit-btn {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3ceb0b+0,34d70b+50,27c608+51,16a50b+100 */
  background: #3ceb0b; /* Old browsers */
  background: -moz-linear-gradient(top,  #3ceb0b 0%, #34d70b 50%, #27c608 51%, #16a50b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #3ceb0b 0%,#34d70b 50%,#27c608 51%,#16a50b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #3ceb0b 0%,#34d70b 50%,#27c608 51%,#16a50b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3ceb0b', endColorstr='#16a50b',GradientType=0 ); /* IE6-9 */

}

.double-btn {
  position: absolute;
  top: -30px;
  right: -160px;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#6ebdf2+0,54aeee+50,369cf0+51,1e74de+100 */
  background: #6ebdf2; /* Old browsers */
  background: -moz-linear-gradient(top,  #6ebdf2 0%, #54aeee 50%, #369cf0 51%, #1e74de 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #6ebdf2 0%,#54aeee 50%,#369cf0 51%,#1e74de 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #6ebdf2 0%,#54aeee 50%,#369cf0 51%,#1e74de 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6ebdf2', endColorstr='#1e74de',GradientType=0 ); /* IE6-9 */
}

.grayed-btn {
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#868686+0,7a7a7a+50,707070+51,606060+100 */
  background: #868686; /* Old browsers */
  background: -moz-linear-gradient(top,  #868686 0%, #7a7a7a 50%, #707070 51%, #606060 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #868686 0%,#7a7a7a 50%,#707070 51%,#606060 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #868686 0%,#7a7a7a 50%,#707070 51%,#606060 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#868686', endColorstr='#606060',GradientType=0 ); /* IE6-9 */
  cursor: not-allowed;
}

.start {
  display: black;
  margin-top: 40px;
  margin-left: auto;
  width: 100px;
}
